Repository jphacks/D_2013, pull requests merged in 2020-11, with the labels that each got.

#22 Fix/unity version
  unity/JPHacks2020/Assets/Scenes.meta
  unity/JPHacks2020/Assets/Scenes/SampleScene.unity
  unity/JPHacks2020/Packages/manifest.json
  unity/JPHacks2020/Packages/packages-lock.json
  unity/JPHacks2020/ProjectSettings/EditorSettings.asset
  unity/JPHacks2020/ProjectSettings/GraphicsSettings.asset
  unity/JPHacks2020/ProjectSettings/PackageManagerSettings.asset
  unity/JPHacks2020/ProjectSettings/PresetManager.asset
  unity/JPHacks2020/ProjectSettings/ProjectSettings.asset
  unity/JPHacks2020/ProjectSettings/ProjectVersion.txt
  unity/JPHacks2020/ProjectSettings/QualitySettings.asset
  unity/JPHacks2020/ProjectSettings/VFXManager.asset
Labels: Unity, enhancement

#27 Feature/NodeServer
  frontend/README.md
  frontend/server/bin/www
  frontend/server/package-lock.json
  frontend/server/package.json
  frontend/server/public/js/index.js
  frontend/server/routes/index.js
  frontend/server/server.js
  frontend/server/sockets/index.js
  frontend/server/sockets/test.js
  frontend/server/views/index.ejs
  frontend/server/yarn.lock
Labels: Web, core

#42 Add Definition Data current status
  unity/JPHacks2020/Assets/Scripts/Common/DefineData.cs
  unity/JPHacks2020/Assets/Scripts/Common/DefineData.cs.meta
  unity/JPHacks2020/Assets/Scripts/Common/ServiceManager.cs
  unity/JPHacks2020/Assets/Scripts/Common/ServiceManager.cs.meta
Labels: Unity, core

#44 add MiniGame LightClick
  unity/JPHacks2020/Assets/Scenes/SubGameC.unity
  unity/JPHacks2020/Assets/Scenes/SubGameC.unity.meta
  unity/JPHacks2020/Assets/Scripts/LightClick.meta
  unity/JPHacks2020/Assets/Scripts/LightClick/LightClickManager.cs
  unity/JPHacks2020/Assets/Scripts/LightClick/LightClickManager.cs.meta
Labels: Important, Unity, core

#39 Feature/react native auth
  frontend/src/.gitignore
  frontend/src/App.js
  frontend/src/utils/auth.js
Labels: Web, core

#45 Fix/react native auth
  frontend/src/App.js
Labels: Web, fix

#49 Fix/Maze add Images
  unity/JPHacks2020/Assets/Resouces/Images/Maze.meta
  unity/JPHacks2020/Assets/Resouces/Images/Maze/LongBase.prefab
  unity/JPHacks2020/Assets/Resouces/Images/Maze/LongBase.prefab.meta
  unity/JPHacks2020/Assets/Resouces/Images/Maze/bg.png
  unity/JPHacks2020/Assets/Resouces/Images/Maze/bg.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/Maze/btn_ok.png
  unity/JPHacks2020/Assets/Resouces/Images/Maze/btn_ok.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/Maze/character.png
  unity/JPHacks2020/Assets/Resouces/Images/Maze/character.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/Maze/clearText.png
  unity/JPHacks2020/Assets/Resouces/Images/Maze/clearText.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/Maze/goal.png
  unity/JPHacks2020/Assets/Resouces/Images/Maze/goal.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/Maze/maze.png
  unity/JPHacks2020/Assets/Resouces/Images/Maze/maze.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/Maze/mazeBorder.png
  unity/JPHacks2020/Assets/Resouces/Images/Maze/mazeBorder.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/Maze/modalHow2Play.png
  unity/JPHacks2020/Assets/Resouces/Images/Maze/modalHow2Play.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/Maze/modalHow2Play_AL.png
  unity/JPHacks2020/Assets/Resouces/Images/Maze/modalHow2Play_AL.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/Maze/modalScore.png
  unity/JPHacks2020/Assets/Resouces/Images/Maze/modalScore.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/Maze/player.png
  unity/JPHacks2020/Assets/Resouces/Images/Maze/player.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/Maze/player2.png
  unity/JPHacks2020/Assets/Resouces/Images/Maze/player2.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/Maze/titleText.png
  unity/JPHacks2020/Assets/Resouces/Images/Maze/titleText.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/Maze/usernameBorder.png
  unity/JPHacks2020/Assets/Resouces/Images/Maze/usernameBorder.png.meta
  unity/JPHacks2020/Assets/Resouces/Materials/Maze.meta
  unity/JPHacks2020/Assets/Resouces/Materials/Maze/character.mat
  unity/JPHacks2020/Assets/Resouces/Materials/Maze/character.mat.meta
  unity/JPHacks2020/Assets/Resouces/Materials/Maze/maze.mat
  unity/JPHacks2020/Assets/Resouces/Materials/Maze/maze.mat.meta
  unity/JPHacks2020/Assets/Resouces/Materials/Maze/mazeBorder.mat
  unity/JPHacks2020/Assets/Resouces/Materials/Maze/mazeBorder.mat.meta
  unity/JPHacks2020/Assets/Resouces/Materials/Maze/player.mat
  unity/JPHacks2020/Assets/Resouces/Materials/Maze/player.mat.meta
  unity/JPHacks2020/Assets/Resouces/Materials/WhiteUnlit.mat
  unity/JPHacks2020/Assets/Resouces/Materials/WhiteUnlit.mat.meta
  unity/JPHacks2020/Assets/Resouces/Materials/Yellow.mat
  unity/JPHacks2020/Assets/Resouces/Materials/Yellow.mat.meta
  unity/JPHacks2020/Assets/Scenes/SubGameA.unity
  unity/JPHacks2020/Assets/Scripts/Maze/MazeManager.cs
  unity/JPHacks2020/Assets/Scripts/Maze/MazePlayer.cs
Labels: Important, Unity, core, design, enhancement

#55 add GameList scene
  unity/JPHacks2020/Assets/Scenes/GameList.unity
  unity/JPHacks2020/Assets/Scripts/Common/DefineData.cs
  unity/JPHacks2020/Assets/Scripts/GameList.meta
  unity/JPHacks2020/Assets/Scripts/GameList/GameListManager.cs
  unity/JPHacks2020/Assets/Scripts/GameList/GameListManager.cs.meta
  unity/JPHacks2020/ProjectSettings/EditorBuildSettings.asset
Labels: Important, Unity, core

#56 Add make json parser
  unity/JPHacks2020/Assets/Scripts/Common/JsonMaker.cs
  unity/JPHacks2020/Assets/Scripts/Common/JsonMaker.cs.meta
  unity/JPHacks2020/Assets/Scripts/Common/ServiceManager.cs
  unity/JPHacks2020/Assets/Scripts/Common/UserData.cs
  unity/JPHacks2020/Assets/Scripts/Common/UserData.cs.meta
Labels: Unity, core, enhancement

#46 Feature/Whac-A-Mole
  unity/JPHacks2020/Assets/Prefabs/SubGameB.meta
  unity/JPHacks2020/Assets/Prefabs/SubGameB/Dummy.prefab
  unity/JPHacks2020/Assets/Prefabs/SubGameB/Dummy.prefab.meta
  unity/JPHacks2020/Assets/Prefabs/SubGameB/Mole.prefab
  unity/JPHacks2020/Assets/Prefabs/SubGameB/Mole.prefab.meta
  unity/JPHacks2020/Assets/Prefabs/SubGameB/appearMove.anim
  unity/JPHacks2020/Assets/Prefabs/SubGameB/appearMove.anim.meta
  unity/JPHacks2020/Assets/Prefabs/SubGameB/ghostA.controller
  unity/JPHacks2020/Assets/Prefabs/SubGameB/ghostA.controller.meta
  unity/JPHacks2020/Assets/Resouces/Fonts/チェックポイントフォント.ttf
  unity/JPHacks2020/Assets/Resouces/Fonts/チェックポイントフォント.ttf.meta
  unity/JPHacks2020/Assets/Resouces/Images/subgameB.meta
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/bg.png
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/bg.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/bgItem.png
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/bgItem.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/btn_ok.png
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/btn_ok.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/character.png
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/character.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/clearText.png
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/clearText.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/ghostA.png
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/ghostA.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/ghostB.png
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/ghostB.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/gohstNo.png
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/gohstNo.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/hole.png
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/hole.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/modalHow2Play.png
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/modalHow2Play.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/modalScore.png
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/modalScore.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/scoreUI.png
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/scoreUI.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/title.png
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/title.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/usernameBorder.png
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/usernameBorder.png.meta
  unity/JPHacks2020/Assets/Scenes/SubGameB.unity
  unity/JPHacks2020/Assets/Scenes/SubGameB.unity.meta
  unity/JPHacks2020/Assets/Scenes/SubGameD.unity
  unity/JPHacks2020/Assets/Scenes/SubGameD.unity.meta
  unity/JPHacks2020/Assets/Scripts/SubGameB.meta
  unity/JPHacks2020/Assets/Scripts/SubGameB/MoleAppearScript.cs
  unity/JPHacks2020/Assets/Scripts/SubGameB/MoleAppearScript.cs.meta
  unity/JPHacks2020/Assets/Scripts/SubGameB/ScoreScript.cs
  unity/JPHacks2020/Assets/Scripts/SubGameB/ScoreScript.cs.meta
  unity/JPHacks2020/Assets/Scripts/SubGameD.meta
  unity/JPHacks2020/Assets/Scripts/SubGameD/PlayerControlScript.cs
  unity/JPHacks2020/Assets/Scripts/SubGameD/PlayerControlScript.cs.meta
Labels: Important, Unity, core

#47 Feature/Screen
  frontend/.gitignore
  frontend/src/.gitignore
  frontend/src/App.js
  frontend/src/package.json
  frontend/src/screens/HomeScreen.js
  frontend/src/utils/Firebase.js
  frontend/src/yarn.lock
Labels: Web, enhancement

#58 Feature/Image on LightClickButton
  unity/JPHacks2020/Assets/Resouces/Images/LightClick.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/bg.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/bg.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/btnBlue.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/btnBlue.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/btnGreen.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/btnGreen.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/btnOrange.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/btnOrange.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/btnPink.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/btnPink.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/btnPurple.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/btnPurple.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/btnRed.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/btnRed.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/btnSkyBlue.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/btnSkyBlue.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/btnVividPink.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/btnVividPink.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/btnYellow.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/btnYellow.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/btn_ok.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/btn_ok.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/character.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/character.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/clearText.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/clearText.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/iconBlue.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/iconBlue.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/iconGreen.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/iconGreen.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/iconOrange.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/iconOrange.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/iconPink.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/iconPink.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/iconPurple.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/iconPurple.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/iconRed.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/iconRed.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/iconSkyblue.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/iconSkyblue.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/iconVividPink.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/iconVividPink.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/iconYellow.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/iconYellow.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/modalHow2Play.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/modalHow2Play.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/modalScore.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/modalScore.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/title.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/title.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/usernameBorder1.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/usernameBorder1.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/usernameBorder2.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/usernameBorder2.png.meta
  unity/JPHacks2020/Assets/Scenes/SubGameC.unity
  unity/JPHacks2020/Assets/Scripts/LightClick/LightClickManager.cs
Labels: Unity, core, enhancement

#62 Fix/AnnoyedStick add restart & stage
  unity/JPHacks2020/Assets/Prefabs/AnnoyedStick.meta
  unity/JPHacks2020/Assets/Prefabs/AnnoyedStick/Wall1.prefab
  unity/JPHacks2020/Assets/Prefabs/AnnoyedStick/Wall1.prefab.meta
  unity/JPHacks2020/Assets/Prefabs/AnnoyedStick/Wall2.prefab
  unity/JPHacks2020/Assets/Prefabs/AnnoyedStick/Wall2.prefab.meta
  unity/JPHacks2020/Assets/Prefabs/AnnoyedStick/WallSet.prefab
  unity/JPHacks2020/Assets/Prefabs/AnnoyedStick/WallSet.prefab.meta
  unity/JPHacks2020/Assets/Resouces/Images/AnnoyedStick/Materials/groundC.mat
  unity/JPHacks2020/Assets/Resouces/Images/AnnoyedStick/Materials/groundC.mat.meta
  unity/JPHacks2020/Assets/Resouces/Images/AnnoyedStick/groundC.png
  unity/JPHacks2020/Assets/Resouces/Images/AnnoyedStick/groundC.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/AnnoyedStick/modalHow2Play.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/AnnoyedStick/modalScore.png.meta
  unity/JPHacks2020/Assets/Scenes/SubGameE.unity
  unity/JPHacks2020/Assets/Scripts/AnnoyedStick/AnnoyedStickManager.cs
  unity/JPHacks2020/Assets/Scripts/AnnoyedStick/AnnoyedStickPlayer.cs
  unity/JPHacks2020/Assets/Scripts/AnnoyedStick/AnnoyedStickPlayer.cs.meta
Labels: Important, Unity, core, enhancement

#63 Feature/ui animation
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant.meta
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween.meta
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/DOTween.XML
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/DOTween.XML.meta
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/DOTween.dll
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/DOTween.dll.meta
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Editor.meta
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Editor/DOTweenEditor.XML
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Editor/DOTweenEditor.XML.meta
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Editor/DOTweenEditor.dll
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Editor/DOTweenEditor.dll.meta
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Editor/Imgs.meta
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Editor/Imgs/DOTweenIcon.png
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Editor/Imgs/DOTweenIcon.png.meta
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Editor/Imgs/Footer.png
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Editor/Imgs/Footer.png.meta
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Editor/Imgs/Footer_dark.png
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Editor/Imgs/Footer_dark.png.meta
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Editor/Imgs/Header.jpg
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Editor/Imgs/Header.jpg.meta
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Modules.meta
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Modules/DOTweenModuleAudio.cs
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Modules/DOTweenModuleAudio.cs.meta
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Modules/DOTweenModulePhysics.cs
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Modules/DOTweenModulePhysics.cs.meta
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Modules/DOTweenModulePhysics2D.cs
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Modules/DOTweenModulePhysics2D.cs.meta
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Modules/DOTweenModuleSprite.cs
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Modules/DOTweenModuleSprite.cs.meta
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Modules/DOTweenModuleUI.cs
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Modules/DOTweenModuleUI.cs.meta
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Modules/DOTweenModuleUnityVersion.cs
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Modules/DOTweenModuleUnityVersion.cs.meta
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Modules/DOTweenModuleUtils.cs
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/Modules/DOTweenModuleUtils.cs.meta
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/readme.txt
  unity/JPHacks2020/Assets/ExternalAssets/Demigiant/DOTween/readme.txt.meta
  unity/JPHacks2020/Assets/Resouces/DOTweenSettings.asset
  unity/JPHacks2020/Assets/Resouces/DOTweenSettings.asset.meta
  unity/JPHacks2020/Assets/Scripts/Common/CommonAnimation.cs
  unity/JPHacks2020/Assets/Scripts/Common/CommonAnimation.cs.meta
Labels: Unity, design

#64 fix/GameList add change view system
  unity/JPHacks2020/Assets/Resouces/Images/GameList.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/Sircle.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/Sircle.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/bg.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/bg.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/border.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/border.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnA.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnA.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnB.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnB.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnBack.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnBack.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnC.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnC.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnC_1.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnC_1.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnChoiceGame.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnChoiceGame.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnD.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnD.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnOkA.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnOkA.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnOkB.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnOkB.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnOkC.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnOkC.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnOkD.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnOkD.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnQOL.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnQOL.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/daysMaskA.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/daysMaskA.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/daysMaskB.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/daysMaskB.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/iconPink 1.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/iconPink 1.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/textBorderA.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/textBorderA.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/textBorderB.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/textBorderB.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/textBorderC.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/textBorderC.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/textBorderD.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/textBorderD.png.meta
  unity/JPHacks2020/Assets/Scenes/GameList.unity
  unity/JPHacks2020/Assets/Scripts/GameList/GameListManager.cs
Labels: Important, Unity, core, enhancement

#61 Fix/React-Native construct
  frontend/src/App.js
  frontend/src/assets/bg.png
  frontend/src/components/WithHeader.js
  frontend/src/containers/Account.js
  frontend/src/containers/SettingScreen.js
  frontend/src/containers/SettingTime/index.js
  frontend/src/containers/Title.js
  frontend/src/containers/UnityScreen.js
  frontend/src/containers/sample.js
  frontend/src/index.js
  frontend/src/package.json
  frontend/src/utils/color.js
  frontend/src/yarn.lock
Labels: Web, enhancement

#69 fix subGameD-tagList
  unity/JPHacks2020/Assets/Scenes/SubGameD.unity
  unity/JPHacks2020/ProjectSettings/TagManager.asset
Labels: Unity, fix

#71 fix/Click Complete ClickGame System
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/restartD.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/restartD.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/startD.png
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/startD.png.meta
  unity/JPHacks2020/Assets/Scenes/SubGameC.unity
  unity/JPHacks2020/Assets/Scripts/LightClick/LightClickManager.cs
Labels: Unity, core, enhancement

#72 fix/annoyed complete game system&stage1
  unity/JPHacks2020/Assets/Resouces/Images/AnnoyedStick/Materials/goalsB.mat
  unity/JPHacks2020/Assets/Resouces/Images/AnnoyedStick/Materials/goalsB.mat.meta
  unity/JPHacks2020/Assets/Resouces/Images/AnnoyedStick/goalsB.png
  unity/JPHacks2020/Assets/Resouces/Images/AnnoyedStick/goalsB.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/AnnoyedStick/restartD.png
  unity/JPHacks2020/Assets/Resouces/Images/AnnoyedStick/restartD.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/AnnoyedStick/startD.png
  unity/JPHacks2020/Assets/Resouces/Images/AnnoyedStick/startD.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/AnnoyedStick/white.png
  unity/JPHacks2020/Assets/Resouces/Images/AnnoyedStick/white.png.meta
  unity/JPHacks2020/Assets/Scenes/SubGameE.unity
Labels: Important, Unity, core, enhancement

#73 Fix Maze game system
  unity/JPHacks2020/Assets/Plugins.meta
  unity/JPHacks2020/Assets/Plugins/websocket-sharp.dll
  unity/JPHacks2020/Assets/Plugins/websocket-sharp.dll.meta
  unity/JPHacks2020/Assets/Scenes/SubGameA.unity
  unity/JPHacks2020/Assets/Scripts/Common/JsonMaker.cs
  unity/JPHacks2020/Assets/Scripts/Common/UserData.cs
  unity/JPHacks2020/Assets/Scripts/Maze/MazeManager.cs
  unity/JPHacks2020/Assets/Scripts/Maze/MazePlayer.cs
  unity/JPHacks2020/Assets/Scripts/Maze/OpponentMazePlayer.cs
  unity/JPHacks2020/Assets/Scripts/Maze/OpponentMazePlayer.cs.meta
  unity/JPHacks2020/Assets/Scripts/Maze/OwnMazePlayer.cs
  unity/JPHacks2020/Assets/Scripts/Maze/OwnMazePlayer.cs.meta
  unity/JPHacks2020/Assets/Scripts/UnityConnection.meta
  unity/JPHacks2020/Assets/Scripts/UnityConnection/PositionReciever.cs
  unity/JPHacks2020/Assets/Scripts/UnityConnection/PositionReciever.cs.meta
  unity/JPHacks2020/Assets/Scripts/UnityConnection/PositionSync.cs
  unity/JPHacks2020/Assets/Scripts/UnityConnection/PositionSync.cs.meta
Labels: Unity, core, enhancement

#74 fix/Stick 「add Annoyed stick audio」
  unity/JPHacks2020/Assets/Resouces/Audio/Clear.mp3
  unity/JPHacks2020/Assets/Resouces/Audio/Clear.mp3.meta
  unity/JPHacks2020/Assets/Resouces/Audio/GameOver.mp3
  unity/JPHacks2020/Assets/Resouces/Audio/GameOver.mp3.meta
  unity/JPHacks2020/Assets/Resouces/Audio/bgm_maoudamashii_fantasy01.mp3
  unity/JPHacks2020/Assets/Resouces/Audio/bgm_maoudamashii_fantasy01.mp3.meta
  unity/JPHacks2020/Assets/Resouces/Audio/bgm_maoudamashii_fantasy07.mp3
  unity/JPHacks2020/Assets/Resouces/Audio/bgm_maoudamashii_fantasy07.mp3.meta
  unity/JPHacks2020/Assets/Resouces/Audio/bgm_maoudamashii_fantasy12.mp3
  unity/JPHacks2020/Assets/Resouces/Audio/bgm_maoudamashii_fantasy12.mp3.meta
  unity/JPHacks2020/Assets/Resouces/Audio/bgm_maoudamashii_fantasy13.mp3
  unity/JPHacks2020/Assets/Resouces/Audio/bgm_maoudamashii_fantasy13.mp3.meta
  unity/JPHacks2020/Assets/Resouces/Audio/button.mp3
  unity/JPHacks2020/Assets/Resouces/Audio/button.mp3.meta
  unity/JPHacks2020/Assets/Scenes/SubGameE.unity
  unity/JPHacks2020/Assets/Scripts/AnnoyedStick/AnnoyedStickManager.cs
  unity/JPHacks2020/Assets/Scripts/AnnoyedStick/AnnoyedStickPlayer.cs
Labels: Unity, core, enhancement

#76 fix/StickAudio 「add audio system」
  unity/JPHacks2020/Assets/Resouces/Audio/Clear.mp3
  unity/JPHacks2020/Assets/Resouces/Audio/Clear.mp3.meta
  unity/JPHacks2020/Assets/Resouces/Audio/GameOver.mp3
  unity/JPHacks2020/Assets/Resouces/Audio/GameOver.mp3.meta
  unity/JPHacks2020/Assets/Resouces/Audio/bgm_maoudamashii_fantasy01.mp3
  unity/JPHacks2020/Assets/Resouces/Audio/bgm_maoudamashii_fantasy01.mp3.meta
  unity/JPHacks2020/Assets/Resouces/Audio/bgm_maoudamashii_fantasy07.mp3
  unity/JPHacks2020/Assets/Resouces/Audio/bgm_maoudamashii_fantasy07.mp3.meta
  unity/JPHacks2020/Assets/Resouces/Audio/bgm_maoudamashii_fantasy12.mp3
  unity/JPHacks2020/Assets/Resouces/Audio/bgm_maoudamashii_fantasy12.mp3.meta
  unity/JPHacks2020/Assets/Resouces/Audio/bgm_maoudamashii_fantasy13.mp3
  unity/JPHacks2020/Assets/Resouces/Audio/bgm_maoudamashii_fantasy13.mp3.meta
  unity/JPHacks2020/Assets/Resouces/Audio/button.mp3
  unity/JPHacks2020/Assets/Resouces/Audio/button.mp3.meta
  unity/JPHacks2020/Assets/Scenes/SubGameE.unity
  unity/JPHacks2020/Assets/Scripts/AnnoyedStick/AnnoyedStickManager.cs
  unity/JPHacks2020/Assets/Scripts/AnnoyedStick/AnnoyedStickPlayer.cs
Labels: Important, Unity, core, enhancement

#78 fix/gameList 「Changed GameListView」
  unity/JPHacks2020/Assets/Resouces/Images/GameList/maskA10.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/maskA10.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/maskB10.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/maskB10.png.meta
  unity/JPHacks2020/Assets/Scenes/GameList.unity
  unity/JPHacks2020/Assets/Scripts/GameList/GameListManager.cs
  unity/JPHacks2020/ProjectSettings/EditorBuildSettings.asset
Labels: Important, core, enhancement

#77 fix/ClickAudio 「add audio system」
  unity/JPHacks2020/Assets/Resouces/Audio/bgm_maoudamashii_healing15.mp3
  unity/JPHacks2020/Assets/Resouces/Audio/bgm_maoudamashii_healing15.mp3.meta
  unity/JPHacks2020/Assets/Scenes/SubGameC.unity
  unity/JPHacks2020/Assets/Scripts/LightClick/LightClickManager.cs
Labels: Unity, core, enhancement

#90 Fix/unity connection
  unity/JPHacks2020/Assets/Scenes/SubGameA.unity
  unity/JPHacks2020/Assets/Scripts/Common/JsonMaker.cs
  unity/JPHacks2020/Assets/Scripts/Common/UserData.cs
  unity/JPHacks2020/Assets/Scripts/UnityConnection/PositionSync.cs
Labels: Unity, core, enhancement

#92 fix animation
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/btn_ok.png.meta
  unity/JPHacks2020/Assets/Scenes/SubGameB.unity
  unity/JPHacks2020/Assets/Scripts/SubGameB/MoleAppearScript.cs
  unity/JPHacks2020/Assets/Scripts/SubGameB/ScoreScript.cs
  unity/JPHacks2020/Assets/Scripts/SubGameB/UIManagerScript.cs
  unity/JPHacks2020/Assets/Scripts/SubGameB/UIManagerScript.cs.meta
Labels: Unity, fix

#95 fix bug and add music
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/waku.png
  unity/JPHacks2020/Assets/Resouces/Images/subgameB/waku.png.meta
  unity/JPHacks2020/Assets/Scenes/SubGameB.unity
  unity/JPHacks2020/Assets/Scripts/SubGameB/MoleAppearScript.cs
  unity/JPHacks2020/Assets/Scripts/SubGameB/ScoreScript.cs
Labels: Unity, fix

#96 Fix/app.json
  frontend/src/.expo-shared/README.md
  frontend/src/app.json
Labels: Web, core

#98 fix/GameListAnchor 「add anchor」
  unity/JPHacks2020/Assets/Scenes/GameList.unity
  unity/JPHacks2020/Assets/Scenes/SubGameB.unity
Labels: Important, Unity, enhancement

#97 Feature/React-Native Node integrate
  frontend/src/containers/UnityScreen.js
Labels: Important, Unity, Web

#99 fix/MazeAnchor 「add anchor」
  unity/JPHacks2020/Assets/Scenes/SubGameA.unity
Labels: Important, Unity, enhancement

#100 fix/SubGameC　「add anchor」
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/clearText.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/LightClick/modalScore.png.meta
  unity/JPHacks2020/Assets/Scenes/SubGameC.unity
Labels: Important, Unity, enhancement

#101 fix/SubGameE 「add anchor」
  unity/JPHacks2020/Assets/Resouces/Images/AnnoyedStick/clearText.png.meta
  unity/JPHacks2020/Assets/Scenes/SubGameE.unity
Labels: Unity, enhancement

#102 fix/ClickScore　「add scoreView & systems」
  unity/JPHacks2020/Assets/Resouces/Images/AnnoyedStick/title.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/AnnoyedStick/usernameBorder.png.meta
  unity/JPHacks2020/Assets/Scenes/SubGameC.unity
  unity/JPHacks2020/Assets/Scripts/LightClick/LightClickManager.cs
Labels: Important, Unity, core, enhancement

#103 fix Moletataki-design
  unity/JPHacks2020/Assets/Scenes/SubGameB.unity
Labels: Unity, fix

#104 Add Result system
  unity/JPHacks2020/Assets/Scenes/Result.unity
  unity/JPHacks2020/Assets/Scripts/Common/DefineData.cs
  unity/JPHacks2020/Assets/Scripts/Common/GameResultData.cs
  unity/JPHacks2020/Assets/Scripts/Common/JsonMaker.cs
  unity/JPHacks2020/Assets/Scripts/Result.meta
  unity/JPHacks2020/Assets/Scripts/Result/ConnectHttp.cs
  unity/JPHacks2020/Assets/Scripts/Result/ConnectHttp.cs.meta
  unity/JPHacks2020/Assets/Scripts/UnityConnection/GameListIdReciever.cs
  unity/JPHacks2020/Assets/Scripts/UnityConnection/GameListIdReciever.cs.meta
Labels: Unity, core, enhancement

#105 Fix/stick　「add ScoreView」
  unity/JPHacks2020/Assets/Scenes/SubGameE.unity
  unity/JPHacks2020/Assets/Scripts/AnnoyedStick/AnnoyedStickManager.cs
Labels: Important, Unity, core, enhancement

#106 Fix/maze　「add audio system & score View」
  unity/JPHacks2020/Assets/Scenes/SubGameA.unity
  unity/JPHacks2020/Assets/Scripts/LightClick/LightClickManager.cs
  unity/JPHacks2020/Assets/Scripts/Maze/MazeManager.cs
Labels: Important, Unity, core, enhancement, question

#107 fix Moletataki-score
  unity/JPHacks2020/Assets/Scenes/SubGameB.unity
  unity/JPHacks2020/Assets/Scripts/SubGameB/MoleAppearScript.cs
  unity/JPHacks2020/Assets/Scripts/SubGameB/ScoreScript.cs
  unity/JPHacks2020/Assets/Scripts/SubGameB/UIManagerScript.cs
Labels: Unity, fix

#108 Add Socket Reciever in GameList Scene
  unity/JPHacks2020/Assets/Scenes/GameList.unity
Labels: Unity, core, enhancement

#109 fix/GameView　「Change texts & Fix ClickGame」
  unity/JPHacks2020/Assets/Scenes/GameList.unity
  unity/JPHacks2020/Assets/Scripts/LightClick/LightClickManager.cs
Labels: Unity, enhancement, fix

#110 Fix README
  README.md
Labels: Important, core

#122 fix rubocop for ci
  .github/workflows/rubocop-analysis.yml
Labels: enhancement

#120 Feature/rubocop
  .github/workflows/rubocop-analysis.yml
Labels: Web, enhancement

#121 README.MD の作成と修正
  README.md
Labels: enhancement

#124 Fix/Frontend Srccode Refact
  .github/workflows/ci.yml
  frontend/src/containers/Home.js
  frontend/src/containers/SettingUser/index.js
  frontend/src/containers/Signin/index.js
  frontend/src/containers/Title.js
Labels: Web, enhancement

#125 Fix/CI
  .github/workflows/rubocop-analysis.yml
Labels: bug, fix

#126 Fix/rubocop ci
  .github/workflows/rubocop-analysis.yml
Labels: bug, enhancement, fix

#127 Feature/Expo-Publish Release
  frontend/src/app.json
  frontend/src/assets/icon_enoslee.png
  frontend/src/assets/splash_enoslee.png
  frontend/src/assets/titleScene/splash_enoslee.png
  frontend/src/package.json
Labels: Important, Web

#129 Integration/develop -> master ver4.0
  .github/workflows/rubocop-analysis.yml
  README.md
  frontend/src/app.json
  frontend/src/assets/icon_enoslee.png
  frontend/src/assets/splash_enoslee.png
  frontend/src/assets/titleScene/splash_enoslee.png
  frontend/src/containers/Home.js
  frontend/src/containers/SettingUser/index.js
  frontend/src/containers/Signin/index.js
  frontend/src/containers/Title.js
  frontend/src/package.json
Labels: Integretion

#128 Feature/font
  frontend/src/assets/fonts/checkpointfont.ttf
  frontend/src/containers/Home.js
  frontend/src/containers/SettingUser/index.js
  frontend/src/containers/Signin/index.js
  frontend/src/containers/UnityScreen.js
  frontend/src/package.json
  frontend/src/yarn.lock
Labels: Important, Web, design

#134 fix web socket url
  unity/JPHacks2020/Assets/Scenes/GameList.unity
  unity/JPHacks2020/Assets/Scripts/Common/DefineData.cs
  unity/JPHacks2020/Assets/Scripts/Result/ConnectHttp.cs
  unity/JPHacks2020/Assets/Scripts/UnityConnection/GameListIdReciever.cs
  unity/JPHacks2020/ProjectSettings/ProjectSettings.asset
Labels: Unity, fix

#137 Feature/Back Unity -> React-Native
  frontend/src/containers/UnityScreen.js
Labels: Important, Unity, Web, core

#138 fix/GameList　「add RunView」
  unity/JPHacks2020/Assets/Resouces/Images/GameList/aaaaa.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/aaaaa.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnE.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/btnE.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/GameList/sssss.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/sssss.png.meta
  unity/JPHacks2020/Assets/Scenes/GameList.unity
  unity/JPHacks2020/Assets/Scripts/GameList/GameListManager.cs
Labels: Unity, enhancement

#139 Fix/game list connection
  unity/JPHacks2020/Assets/Scripts/Common/DefineData.cs
  unity/JPHacks2020/Assets/Scripts/UnityConnection/GameListIdReciever.cs
Labels: Important, Unity, fix

#141 fix Runstage add images
  unity/JPHacks2020/Assets/Resouces/Images/Run/modalHow2Play.png
  unity/JPHacks2020/Assets/Resouces/Images/Run/modalHow2Play.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/Run/restart.png
  unity/JPHacks2020/Assets/Resouces/Images/Run/restart.png.meta
  unity/JPHacks2020/Assets/Resouces/Images/Run/startE.png
  unity/JPHacks2020/Assets/Resouces/Images/Run/startE.png.meta
  unity/JPHacks2020/Assets/Scenes/SubGameD.unity
  unity/JPHacks2020/Assets/Scripts/SubGameD/PlayerControlScript.cs
  unity/JPHacks2020/Assets/Scripts/SubGameD/UImanagerscript.cs
  unity/JPHacks2020/Assets/Scripts/SubGameD/obstacleGeneratorScript.cs
Labels: Unity, fix

#142 Fix GameList Scene
  unity/JPHacks2020/Assets/Resouces/Images/GameList/home_icon.png
  unity/JPHacks2020/Assets/Resouces/Images/GameList/home_icon.png.meta
  unity/JPHacks2020/Assets/Scenes/GameList.unity
Labels: Important, Unity, design, fix

#132 Fix/On unity press
  frontend/src/containers/Home.js
Labels: Important, Web, fix

#144 Fix/Unityscreen
  frontend/src/App.js
Labels: bug, fix

#143 Fix/onkinoko & takenoko button , stop method
  frontend/src/assets/titleScene/header.png
  frontend/src/containers/SettingUser/index.js
  frontend/src/containers/Signin/index.js
Labels: enhancement, fix
